.mar {
    margin: 20px 0;
}

.h1-head {
    font-weight: bold;
    color: #808000;
}

.inputSearch {
    padding: 8px 10px;
    width: 60%;
    border: 2px solid #000080;
    border-radius: 10px;    
}

.btn-search {
    width: 20%;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #000080;
    border-radius: 10px;
}

.btn-search:hover {
    text-decoration: none;
    color: #ebebeb;
    background-color: #0202bb;        
}

footer {
    margin-top: 20PX;
    padding: 20px 0;
    background-color: #2f2f2f;
    color: white;
}

.icon-social {
    margin: 20px;
    font-size: 24px;
    color: #ffffff;
}